include README.rst
include AUTHORS
include CHANGES
include LICENSE
include MANIFEST.in
include ShieldEkgEmgDemo.ino
recursive-include docs *
recursive-include tests *
recursive-include mock-data *
recursive-include tools *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
